@model ProjLojaMVC.Models.Compra

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Compra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <select asp-for="Cliente" id="Cliente" name="Cliente" asp-items="@Model.Clientes" class="form-control">
                    <option>@Model.Cliente.Nome</option>
                </select>
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario" class="control-label"></label>
                <select asp-for="Funcionario" id="Funcionario" name="Funcionario" asp-items="@Model.Funcionarios" class="form-control">
                    <option>@Model.Funcionario.Nome</option>
                </select>
                <span asp-validation-for="Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto" class="control-label"></label>
                <select asp-for="Produto" id="Produto" name="Produto" asp-items="@Model.Produtos" class="form-control">
                    <option>@Model.Produto.Descricao</option>
                </select>
                <span asp-validation-for="Produto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCompra" class="control-label"></label>
                <input asp-for="DataCompra" class="form-control" />
                <span asp-validation-for="DataCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
